<h1>Pets#new</h1>
<p>Find me in app/views/pets/new.html.erb</p>

<%= simple_form_for @pet do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :species, collection: Pet::SPECIES %>
  <%= f.input :found_on %>
  <%= f.submit class: "btn btn-primary mt-4" %>
<% end %>